.title {
  margin-left: 16px;
  font-size: 1.25rem;
  font-weight: 700;
}

.container {
  margin-bottom: 1.5rem;
  margin-top: 5px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.carouselContainer {
  position: relative;
  padding: 0;
}

.swiper {
  height: 250px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.slide {
  position: relative;
  height: 250px;
  width: 100%; /* Ensures it fills SwiperSlide */
  overflow: hidden; /* Prevents content from overflowing */
}

.slideImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.statusBadge {
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-size: 0.675rem;
  font-weight: 500;
  white-space: nowrap;
  margin-left: 10px;
}

.statusBadgeServing {
  background-color: var(--ion-color-success);
  color: var(--ion-color-success-contrast);
}

.statusBadgeClosed {
  background-color: var(--ion-color-medium);
  color: var(--ion-color-medium-contrast);
}

.bottomRowContainer {
  position: absolute;
  width: 100%;
  min-width: 0; /* Crucial: Allows shrinking and enables truncation */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  bottom: 1.5rem;
  left: 0;
  padding: 5px;
}
.infoContainer {
  display: flex;
  flex-direction: row;
  margin: 4px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 0.5rem;
}

.truckName {
  background-color: rgba(var(--ion-color-secondary-rgb), 0.6);
  border-radius: 10px;

  padding: 0.25rem 0.75rem;

  color: var(--ion-color-secondary-contrast);
  font-size: 1.25rem;
  font-weight: 700;
}

.popularItem {
  color: var(--ion-color-medium);
  font-weight: 500;
  font-size: 0.875rem;
}

.itemPrice {
  color: var(--ion-color-warning);
  font-weight: 700;
  margin-left: 5px;
}

.navigationButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 0.5rem;
}

.navigationButtonPrev {
  left: 0.1rem;
}

.navigationButtonNext {
  right: 0.1rem;
}

.topRowContainer {
  position: absolute;
  width: 100%;
  min-width: 0; /* Crucial: Allows shrinking and enables truncation */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  top: 0;
  left: 0;
  padding: 5px;
}
