.leaflet-tooltip.my-labels {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
}

.leaflet-tooltip.my-labels::before {
  border-color: transparent;
}

.show-icon {
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.bold-outline-text {
  font-weight: bold;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

/* Pulsing background (behind the image) */
.pulse-background {
  width: 25px;
  height: 25px;
  background: rgba(0, 128, 255, 0.5); /* Light blue */
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-25%, -25%);
  animation: pulse-animation 1.5s infinite ease-in-out;
}

/* User's static icon */
.location-image {
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 2;
}

/* Pulsing animation */
@keyframes pulse-animation {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(2.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}
