.custom-progress-container {
  border: 2px solid #24a810; /* Border color matching the stoke theme */
  border-radius: 10px;
  padding: 4px;
  background: #ffffff;
}

.custom-progress-bar {
  height: 20px; /* Adjust thickness */
  border-radius: 8px;
  --progress-background: linear-gradient(
    45deg,
    var(--ion-color-secondary),
    var(--ion-color-primary)
  );
}

.stoke-meter {
  margin-bottom: 0px;
  margin-top: 0;
}
