name: Build and Deploy Apps

on:
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest

    steps:
      # Checkout the code
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # You can also use 'zulu', 'adopt', etc.
          java-version: '21'

      - name: Verify Java version
        run: java -version

      # Set up Google Services JSON
      - name: Set up google-services.json from secret
        run: echo "$GOOGLE_SERVICES_JSON" > android/app/google-services.json
        env:
          GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}

      # Set up Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      # Install dependencies
      - name: Install dependencies
        run: npm install

      - name: Add Calendar API Key
        env:
          CALENDAR_API_KEY: ${{ secrets.CALENDAR_API_KEY }}
          CALENDAR_ID: ${{ secrets.CALENDAR_ID }}
          GOOGLE_SHEET_RACING_INFO_ID: ${{ secrets.GOOGLE_SHEET_RACING_INFO_ID }}
          GOOGLE_SHEETS_API_KEY: ${{ secrets.GOOGLE_SHEETS_API_KEY }}
        run: |
          echo "VITE_REACT_APP_CALENDAR_API_KEY=$CALENDAR_API_KEY" >> .env
          echo "VITE_REACT_APP_CALENDAR_ID=$CALENDAR_ID" >> .env
          echo "VITE_REACT_APP_GOOGLE_SHEET_RACING_INFO_ID=$GOOGLE_SHEET_RACING_INFO_ID" >> .env
          echo "VITE_REACT_APP_GOOGLE_SHEETS_API_KEY=$GOOGLE_SHEETS_API_KEY" >> .env

      # Build the React app
      - name: Build React app
        run: npm run build

      - name: Capacitor copy
        run: npx cap copy android

      - name: Capacitor update
        run: npx cap update android

      - name: Set Android versionCode
        run: |
          sed -i "s/versionCode [0-9]\+/versionCode $GITHUB_RUN_NUMBER/" android/app/build.gradle
          sed -i "s/versionName \".*\"/versionName \"1.0.$GITHUB_RUN_NUMBER\"/" android/app/build.gradle
          cat android/app/build.gradle

      # Build the Android app (AAB)
      - name: Build Android App
        run: |
          cd android
          ./gradlew bundleRelease

      - uses: r0adkll/sign-android-release@v1
        name: Sign app APK
        # ID used to access action output
        id: sign_app
        with:
          releaseDirectory: android/app/build/outputs/bundle/release
          signingKeyBase64: ${{ secrets.ANDROID_SIGNING_KEY }}
          alias: ${{ secrets.ANDROID_SIGNING_ALIAS }}
          keyStorePassword: ${{ secrets.ANDROID_KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.ANDROID_KEY_PASSWORD }}
        env:
          # override default build-tools version (33.0.0) -- optional
          BUILD_TOOLS_VERSION: '34.0.0'

      # Upload AAB to Google Play
      - name: Upload to Google Play
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.GOOGLE_PLAY_SERVICE_ACCOUNT_CREDS }}
          packageName: 'com.oakcityshredfest.app'
          releaseFiles: android/app/build/outputs/bundle/release/app-release.aab
          track: internal
          status: draft
